@import "skin-white.less";

#mapControl {
    .jq-navigation-widget.jq-navigation {
        left: 20px;
        top: 50px;
        z-index: 100;
    }

        .jq-navigation-widget.jq-navigation a {
            color: #000000 !important;
            border: 0px !important;
            left: 0 !important;
        }

    .ui-widget-content {
        border: 0px !important;
    }

    #LocateButton {
        position: absolute;
        top: 230px;
        left: 22px;
        z-index: 50;
    }
    .LocateButton span {
        display: none;
    }
    .LocateButton .zoomLocateButton {
        padding: 2px;
        width: 30px;
        height: 30px;
        background-color: #666;
        background-color: rgba(102,102,102,0.80);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        background-image: url("../assets/images/locate.png");
        background-position: center center;
        background-repeat: no-repeat;
    }
}

