@import "map-tip.less";
@import "map-tool-tip.less";

.tooltipster-light {
    border-radius: 0;
    border: 1px solid #cccccc;
    background: #ededed;
    color: #666666;

    .tooltipster-content {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        padding: 8px 10px;
    }
}

.tooltipster-dark {
    border-radius: 0;
    border: 3px solid #000;
    background: #4c4c4c;
    color: #fff;

    .tooltipster-content {
        font-family: 'Georgia', serif;
        font-size: 14px;
        line-height: 16px;
        padding: 8px 10px;
        overflow: hidden;
    }
}

.tooltipster-noir {
    border-radius: 0;
    border: 3px solid #2c2c2c;
    background: #fff;
    color: #2c2c2c;

    .tooltipster-content {
        font-family: 'Georgia', serif;
        font-size: 14px;
        line-height: 16px;
        padding: 8px 10px;
    }
}

.tooltipster-shadow {
    border-radius: 0;
    background: #fff;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    color: #2c2c2c;

    .tooltipster-content {
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        line-height: 16px;
        padding: 8px 10px;
    }
}