<div class="loading-simple">
    <span>
        {{#if text}}
            {{t text }}
        {{else}}
            {{t "map.loadingTitle"}}
        {{/if}}
    </span>
    <ul role="presentation">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>