#basemapselector-section-container {
    position: absolute;
    z-index: 199;
    background-color: #FFF !important;
    margin: 0;
    text-align: left;
    top: 32px;

    width: 500px;
    
    .basemapselector-section {
        height: 280px;
        
        .box-shadow-section;

        .projection-list,
        .basemap-list {
            list-style: none;
            padding: 0;
        }

        .projection-list-pane {
            width: 150px;

            .projection-button {
                border-radius: 0 0 0 0;
                margin: 0;
                padding: 10px 15px 10px !important;
                text-decoration: none;
                width: 100%;
                text-align: left;
                border-right: none;

                &.focused,
                &:focus, &:hover {
                    background-color: #D4D4D4 !important;
                    color: inherit !important;
                }

                &.button-pressed {
                    //background-color: #D4D4D4 !important;
                    //color: #D73D38 !important;
                    border-color: @medium-dark-grey-color !important;
                    background-color: #545454 !important;
                    color: #FFF !important;
                    box-shadow: @button-active-shadow;                    
                }
            }
        }

        .basemap-list-pane {
            position: absolute;
            top: 0;
            right: 0;

            width: 350px;
            border-left: 5px solid #545454;
            height: 280px;

            .basemap-button {
                border-radius: 0 0 0 0;
                margin: 0;
                padding: 8px 12px 8px !important;
                text-decoration: none;
                width: 100%;
                text-align: left;
                border-left: none;

                &.focused,
                &:focus, &:hover {
                    background-color: #D4D4D4 !important;
                    color: inherit !important;
                }

                &.button-pressed {
                    //background-color: #D4D4D4 !important;
                    //color: #D73D38 !important;
                    border-color: @medium-dark-grey-color !important;
                    background-color: #545454 !important;
                    color: #FFF !important;
                    box-shadow: @button-active-shadow;

                    span {
                        color: #FFF !important;
                    }
                }

                .basemap-info {
                    display: inline-block;

                    .basemap-name {
                        font-weight: bold;
                        margin-bottom: 4px;
                    }

                    .basemap-description {
                        color: #767676;
                    }

                    span {
                        display: block;
                    }
                }

                .basemap-image {
                    border: 2px solid #FFF;
                    height: 48px;
                    width: 96px;
                    margin: 0;
                    float: right;
                    vertical-align: bottom;
                }
            }
        }
    }
}
