@media screen and (min-device-width: 768px) and (min-width: 768px) {
    #map-export-modal {
        .map-export-controls {
            min-width: 170px;
            margin: 0 15px 0 10px;
        }

        .map-export-stretcher {
            width: 560px;
            height: 370px;
        }
    }
}

@media screen and (min-device-width: 1024px) and (min-width: 1200px) {
    #map-export-modal {
        .map-export-controls {
            min-width: 220px;
            margin: 0 15px 0 10px;
        }

        .map-export-stretcher {
            width: 750px;
            height: 450px;
        }
    }
}

.mfp-content {
    width: auto !important;
}

#map-export-modal {
    width: auto;
    border-radius: 0;

    header {
        border-bottom: 1px solid @very-light-grey-color;
        background-color: inherit;
        color: inherit;
        display: inherit;
        padding: inherit;
    }

    .modal-body {
        padding: 25px;
    }

    .map-export-preview {
        position: relative;
        float: left;
    }

    .map-export-controls {
        position: relative;
        float: left;

        > header h2 {
            max-width: calc(~'100% - 25px');
            border-bottom: none;
        }
    }

    .map-export-stretcher {
        text-align: center;
        margin: 0 15px;
        background-color: @very-light-grey-color;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .map-export-notice-container {
            position: relative;
            display: inline-block;
            vertical-align: top;
            top: 1px;

            .map-export-notice {
                position: relative;
                display: none;
                text-align: left;
                vertical-align: top;
                margin-bottom: 0;
                width: 100%;
            }
        }
    }

    .loading-simple {
        top: 50%;
        position: absolute;
        left: calc(~'50% - 125px');
        display: block;
        width: 250px;
        text-align: center;
        vertical-align: top;

        &:before {
            content: '';
            background-color: white;
            width: 250px;
            height: 50px;
            position: absolute;
            display: block;
            top: calc(~'50% - 25px');
            border-radius: 2px;
            opacity: 0.85;
        }
    }

    .map-export-image {
        position: absolute;
        border: 1px solid black;
        top: 0;
        bottom: 0;
        right: 15px;
        left: 15px;
        overflow: hidden;
        //padding: 1px;
        img, canvas {
            width: 100% !important;
            height: 100% !important;

            &.local {
                position: absolute;
                top: 0;
            }
        }
    }

    .button-close {
        //right: 7px;
        top: 0;
    }

    .checkbox {
        label {
            padding-left: 0;
            display: block;

            input {
                right: 0;
                margin-left: 0;
            }
        }
    }

    .download-buttons {
        .dropdown-menu {
            width: 100%;
            border-radius: 0;
            display: none;
        }

        .toggle.button-pressed {
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }

        .btn {
            border-radius: 0;
            //padding: 6px 22px;
            /*width: 100%;
            display: block;
            margin-bottom: 10px;*/
            &.btn-download {
                text-align: left;
            }
        }
    }
}
