.mfp-content {
    width: auto !important;
}

#map-export-modal {
    width: auto;
    border-radius: 0;

    .modal-body {
        padding: 25px;
    }

    .map-export-stretcher {
        width: 1469px;
        height: 724px;
    }


    .map-export-image {
        position: absolute;
        border: 1px solid black;
        top: 0;
        bottom: 0;
        right: 15px;
        left: 15px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }



    .button-close {
        right: 7px;
    }

    .checkbox {
        label {
            padding-left: 0;
            display: block;

            input {
                right: 0;
                margin-left: 0;
            }
        }
    }

    .download-buttons {
        button {
            border-radius: 0;
            //padding: 6px 22px;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
