@import "theme-effects.less";

.full-data-mode {
    #map-div {

        #mapContent {
            //display: none;
            opacity: 0;
            //.transition(@defaul-effect-duration, ease);
        }

        #map-toolbar {

            /*width: 32px;
            height: 100%;*/

            .map-toolbar-item {
                
                display: block;

                .map-toolbar-item-button {
                    padding: 0 !important;
                }
            }

            #help-section-container,
            #getlink-section-container,
            #addLayer-section-container {
                top: 20%;
            }

            #advanced-toggle,
            #advanced-toolbar {
                display: none !important;
            }
        }
    }
}

/* MAP Start */

#map-div {
    &:after {
        border-right: 3px solid @accent-color;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 3px;
    }
    
    svg .graphics {
        .default-transition(300ms);
    }
    
    #mapContent {
        position: absolute;
        top: 32px;
        bottom: 0;
        right: 0;
        left: 0;        
    }

    
    #map-load-indicator {
        bottom: 0;
        font-weight: bold;
        padding: 3px 10px 3px 35px;
        position: absolute;
        right: 3px;
        display: inline;
        z-index: 100;
        
        .transition(300ms, ease);
        opacity: 1;
        
        &:before {
            border-bottom: 26px solid rgba(255, 255, 255, 0.8);
            border-left: 20px solid rgba(0, 0, 0, 0);
            content: "";
            height: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: -1;
        }
        
        &.hidden {
            .transition(300ms, ease);
            opacity: 0;
        }
        
        ul {
            display: inline;
            margin: 0 0 0 9px !important;
            padding: 0 !important;
            
            li {
                background-color: #000000;
                border-radius: 20%;
                display: inline-block;
                height: 3px;
                margin: 0 0 0 0;
                width: 3px;
                
                .dot-animation (@keyframe) {
                    animation: 5s cubic-bezier(0.03, 0.615, 0.995, 0.415) 0s normal both infinite @keyframe;
                }
                
                .default-keyframes() {
                    0% {opacity: 0}
                    10% {opacity: 0}
                    85% {opacity: 1}
                    95% {opacity: 0}
                    100% {opacity: 0}
                }
                
                @keyframes dot-1 {
                    .default-keyframes;
                    20% {opacity: 1}
                }
                
                @keyframes dot-2 {
                    .default-keyframes;
                    40% {opacity: 0}
                    50% {opacity: 1}
                }
                
                @keyframes dot-3 {
                    .default-keyframes;
                    60% {opacity: 0}
                    70% {opacity: 1}
                }
                
                &:nth-child(1) { .dot-animation (dot-1); }
                &:nth-child(2) { .dot-animation (dot-2); }
                &:nth-child(3) { .dot-animation (dot-3); }
            }
        }
    }
    
    .map-scale-dark
    {
        .esriScalebarLabel,
        .scaleLabelDiv
        {
            color: #000000 !important;
        }
    }
    
    .map-scale-light
    {
        .esriScalebarLabel,
        .scaleLabelDiv
        {
            color: #FFFFFF !important;
            font-weight: bold !important;
        }
    }

    /* stop WET from pushing WMS overlay images in by 10px */
    #mainMap_layers img[id^="mainMap_"] {
        margin-left: 0px;
        margin-right: 0px;
    }

}

/* MAP ENDS */


    
/*------------------------------------------------------------
    ScaleBar Begin
------------------------------------------------------------*/
#scaleDiv {
    font-size: 8pt;
    text-align: left;
    position: relative;
    width: 200%;
    padding-bottom: 35px;
    color: #000000;
    font-weight: normal;
}

.esriScalebarLabel,.scaleLabelDiv {
    color: #000000 !important;
    font-weight: normal !important;
}

.invertColour .esriScalebarLabel,.invertColour .scaleLabelDiv {
    color: #FFFFFF !important;
    font-weight: bold !important;
}

.esriScalebarRuler {
    background-color: White;
    border: 1px solid #000;
    height: 6px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.esriScalebarRulerBlock {
    background-color: #000;
    height: 50%;
    overflow: hidden;
    position: absolute;
}

.esriScalebar {
    height: 55px !important;
}


/*------------------------------------------------------------
    ScaleBar End
------------------------------------------------------------*/

/*------------------------------------------------------------
    BASEMAP SELECTOR Begin
------------------------------------------------------------*/


/*------------------------------------------------------------
    BASEMAP SELECTOR End
------------------------------------------------------------*/