@import "resources/elements.less";
@import "resources/css-shapes.less";

@import "variables.less";

@import "effects/base.less";

@import "toolbar/base.less";
@import "tooltips/base.less";
@import "navigation/base.less";
@import "help/base.less";

@import "theme-layout.less";
@import "theme-map.less";
@import "theme-panel.less";
@import "theme-effects.less";



.on-left {
    margin-right: 5px;
}

.on-left-more {
    margin-right: 10px;
}

.on-right {
    margin-left: 5px;
}

.on-right-more {
    margin-left: 10px;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

/* PANEL START */

.side-toggle () {
    border-bottom: 16px solid rgba(0, 0, 0, 0) !important;
    border-right: 16px solid @accent-color !important;
    border-top: none;
    cursor: pointer;
    display: block;

    padding: 0;
    margin: 0;

    position: absolute;
    right: 3px;
    top: 32px;

    height: 56px;
    width: 0;

    overflow: visible;

    &:after {
        border-bottom: 2px solid #FFFFFF;
        border-right: 2px solid #FFFFFF;
        content: "";
        display: block;
        height: 9px;
        left: 6px;
        position: absolute;
        top: 23px;
        width: 9px;

        .rotation(-225deg);
        .transition(400ms, ease);
    }

    &:focus,
    &:hover {
        border-right: 16px solid @attention-color !important;
    }

    &.state-expanded:after {
        left: 1px;

        .rotation(-45deg);
        .transition(400ms, ease);
    }
}

/* PANEL END */


/* SIZZLE */

.box-shadow-section () {
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    border-radius: 0px;

    &:before{
        content: "";
        z-index: -1;
        position: absolute;
        width: 80%;
        top: 30px;
        bottom: 11px;
        left: 10px;

        .rotation(-1deg);
        .box-shadow (0px 13px 8px #555);
    }

    &:after{
        content: "";
        z-index: -1;
        position: absolute;
        width: 80%;
        top: 30px;
        bottom: 11px;
        right: 10px;

        .rotation(1deg);
        .box-shadow (0px 13px 8px #555);
    }
}

.arrow_box (@arrow-color: #FFF, @z: 0) {
    background: #fff;
    border: 1px solid #000;

    .common() {
        top:100%;
        left:50%;
        border:solid transparent;
        content:" ";
        height:0;
        width:0;
        position:absolute;
        pointer-events:none;
        z-index: @z;
    }

    &:after {
        .common;
        margin-left: -5px;
        border-color: @arrow-color rgba(255,255,255,0) rgba(255,255,255,0);
        border-width: 5px;
    }

    &:before {
        .common;
        margin-left:-6px;
        border-color: #000 rgba(0,0,0,0) rgba(0,0,0,0);
        border-width:6px;
    }
}



/* EFFECTS */

/* LOADING ANIMATION */

.details-loading
{
    margin: 0px !important;
    padding: 0px !important;
}

.details-loaded
{
    margin: 0px !important;
    padding: 10px !important;
}

ul.loadingAnimation {
    margin: 10px 0;
    height: 4px;
    left: 0;
    right: 0;
    position: absolute;
    top: 10%;
    list-style: none;
    text-align: center;
    display: block;

    @dot-animation: 5s cubic-bezier(0.03, 0.615, 0.995, 0.415) 0s normal both infinite loading;

    .dot-animation-delay (@delay) {
        animation-delay: @delay;
    }

    li {
        animation: @dot-animation;
        //background-color: #1BA1E2;
        background-color: @accent-color;
        border-radius: 20% 20% 20% 20%;
        display: inline-block;
        height: 4px;
        margin: 0 4px 11px 0;
        width: 4px;

        &:nth-child(6) { .dot-animation-delay (0s); }
        &:nth-child(5) { .dot-animation-delay (0.2s); }
        &:nth-child(4) { .dot-animation-delay (0.4s); }
        &:nth-child(3) { .dot-animation-delay (0.6s); }
        &:nth-child(2) { .dot-animation-delay (0.8s); }
        &:nth-child(1) { .dot-animation-delay (1.0s); }
    }
}

@keyframes loading {
    0% {transform: translateX(-150px); opacity: 0}
    25% {opacity: 1}
    50% {transform: translateX(150px); opacity: 0}
    100% {opacity: 0}
}

.esriControlsBR {
    display: none;
}