@import "resources/elements.less";
@import "resources/css-shapes.less";

@import "variables.less";

.default-transition(@duration:@defaul-effect-duration, @ease:ease) {
	.transition(@duration, @ease);
}

.absolute-invisible {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden !important;
}

.opasity-invisible {
	opacity: 0;
}

.button-none {
    background: 0;
    border-color: transparent!important;
    box-shadow: none;
    outline-color: transparent;
    text-decoration: underline;
    text-shadow: none;
}

.xsmall {
    font-size: 80% !important;
}

.button-close {
    position: absolute;
    cursor: pointer;
    right: -7px;
    top: -7px;

    .css-icon-close(@light-grey-color, @attention-color, @attention-color);
}

.link-button() {

    padding: 0px !important;

    &:hover,
    &:focus {
        background: none repeat scroll 0 center rgba(0, 0, 0, 0) !important;
        border-color: rgba(0, 0, 0, 0) !important;

        .box-shadow (none);

        outline-color: #124c86;
        //outline-color: rgba(0, 0, 0, 0);

        text-decoration: underline;
        text-shadow: none;
    }
}

.zebra-list {
    padding: 0;
    list-style-type: none;

    > li:nth-child(2n) {
        background-color: @light-light-grey-color;
    }

}