
@panel-width-large: 430px;
@panel-width-medium: 340px;


@with-430: 430px;
@with-340: 340px;

// Timing

@defaul-effect-duration: 500ms;

//
@main-border-width: 3px;


// Header

@header-height: 155px;
@header-height-collapsed: 64px;

// Footer

@footer-height: 30px;
@footer-height-collapsed: 5px;


// Toolbar

@toolbar-height: 32px;


// Colors

@accent-color: #2572b4;
@attention-color: #D73D38;
@very-light-grey-color: #eee;
@light-light-grey-color: #DDD;
@light-grey-color: #808080;
@medium-grey-color: #666;
@medium-dark-grey-color: #333;
@dark-grey-color: #222;

@midnight-blue-color: #2c3e50;
@info-color: #2a7da6;

@light-border-color: #BFBFBF;

// Shadows

@upper-shadow: 0 4px 5px -5px #000000 inset;
@lower-shadow: 0 -4px 5px -5px #000000 inset;
@upper-large-shadow: 0 7px 8px -5px #000000 inset;
@lower-large-shadow: 0 -7px 8px -5px #000000 inset;

@left-shadow: -5px 0px 5px -4px #000000;
@left-tab-shadow: 5px 0px 4px -4px #000000 inset;
@right-tab-shadow: -5px 0px 4px -4px #000000 inset;

@separator-shadow: 0 0 3px -3px #222222;
@separator-drag-shadow: 0 0 8px -1px #222222;

@button-active-shadow: 0 3px 5px rgba(0,0,0,.125) inset;
@button-active-small-shadow: 0 2px 1px rgba(0,0,0,.125) inset;

// Images

@dark-denim: url("../assets/images/patterns/darkdenim3.png");
@denim: url("../assets/images/patterns/denim.png");
@broken-noise: url("../assets/images/patterns/broken_noise.png");
@concrete-wall: url("../assets/images/patterns/concrete_wall.png");
@concrete-wall2: url("../assets/images/patterns/concrete_wall2.png");
@concrete-wall3: url("../assets/images/patterns/concrete_wall3.png");
