---
{
    "title": "Basemap service not available",
    "layout": "servermessage.hbs",
    "dateModified": "2015-01-26",
    "sitesearch": "false",
    "breadcrumb": "false"
}
---
<div class="col-md-12">
    <h1><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> {{t "serverError.basemapNotAvailable.title"}}</h1>
    <p>{{t "serverError.basemapNotAvailable.detail"}}</p>
</div>