---
{
    "title": "We couldn't find that Web page (Error 404) / Nous ne pouvons trouver cette page Web (Erreur 404)",
    "language": "en","fr"
    "layout": "servermessage.hbs"
}
---
<section class="col-md-12">
    <h1><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> We couldn't find that Web page</h1>
    <p>Error 404</p>
    <p>We're sorry you ended up here. Sometimes a page gets moved or deleted, but hopefully we can help you find what you're looking for.</p>
    <ul>
        <li>Return to the <a href="{{environment.root}}/index-en.html">home page</a></li>
    </ul>
</section>