.multi-brick-container {
    display: table;
    table-layout: fixed;

    .multi-container {
        display: table-row;

        & > div {
            display: table-cell;
        }
    }
}

.okcancelbutton-brick-container {

    .multi-container {
        text-align: right;

        .ok-button-brick-container {
            display: inline-block;
            margin-right: 5px;
        }

        .cancel-button-brick-container {
            display: inline-block;
            margin-left: 5px;
        }
    }
}

.choice-brick-container {
    .choice-group {
        width: 100%;
        // trick: http://stackoverflow.com/a/12198561
        button:first-child:nth-last-child(1) {
            width: 100%;
        }
        /* two items */
        button:first-child:nth-last-child(2),
        button:first-child:nth-last-child(2) ~ button {
            width: 50%;
        }
        /* three items */
        button:first-child:nth-last-child(3),
        button:first-child:nth-last-child(3) ~ button {
            width: 33.3333%;
        }
        /* four items */
        button:first-child:nth-last-child(4),
        button:first-child:nth-last-child(4) ~ button {
            width: 25%;
        }
    }
}

.colorpicker-brick-container {
    .color-picker-container {
        display: table;
        width: 100%;

        & > .form-group {
            display: table-cell !important;
            width: 80% !important;
            padding-right: 10px;
        }

        .color-picker-swatch {
            display: table-cell;
            margin-left: 10px;
            width: 20%;
            border: 1px solid black;
        }
    }
}
