.bg-very-light {
    background-color: @very-light-grey-color !important;
}

.bg-light-light {
    background-color: @light-light-grey-color !important;
}

.bg-light {
    background-color: @light-grey-color !important;
}

.bg-medium {
    background-color: @medium-grey-color !important;
}

.bg-medium-dark {
    background-color: @medium-dark-grey-color !important;
}

.bg-dark {
    background-color: @dark-grey-color !important;
}

.bg-midnight {
    background-color: @midnight-blue-color !important;
}

.bg-white {
    background-color: white;
}